services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: backend-app
    restart: always
    env_file:
      - ./app/.env
    depends_on:
      - redis
      - mongo
      - mongo2
      - mongo3
    volumes:
      - "./app:/app"
      - "/app/node_modules"
      - "./volumes/uploads:/app/uploads"
      - "./volumes/app-logs:/app/app-logs"
    command: ["sh", "-c", "sleep 20 && node seeders/seed.js && yarn run dev"]
    networks:
      - app
      - traefik
    labels:
      - "traefik.enable=true"

  # ارسال همه درخواست‌هایی که با /api یا /api-docs-2025 شروع می‌شن به بک‌اند
      - "traefik.http.routers.backend.rule=PathPrefix(`/api`, `/api-docs-2025`)"

      # پورت داخلی کانتینر (8080)
      - "traefik.http.services.backend.loadbalancer.server.port=8080"

      # حذف پیشوند /api برای مسیرهای اصلی
      - "traefik.http.middlewares.backend-stripprefix.stripprefix.prefixes=/api"
      - "traefik.http.routers.backend.middlewares=backend-stripprefix"

      # شبکه Traefik
      - "traefik.docker.network=traefik"

  mongo:
    image: mongo:4.4
    container_name: mongo
    restart: always
    ports:
      - 27017:27017
    env_file:
      - ./app/.env
    volumes:
      - ./volumes/mongo_db:/data/db
      - ./mongo-keyfile:/data/mongo-keyfile
      - ./mongo-init:/docker-entrypoint-initdb.d
    entrypoint:
      - bash
      - -c
      - |
          chmod 400 /data/mongo-keyfile
          chown 999:999 /data/mongo-keyfile
          exec docker-entrypoint.sh $$@
    command: ["mongod", "--replSet", "rs0", "--keyFile", "/data/mongo-keyfile"]
    networks:
      - app

  mongo2:
    image: mongo:4.4
    container_name: mongo2
    restart: always
    ports:
      - 27018:27017
    env_file:
      - ./app/.env
    volumes:
      - ./volumes/mongo2_db:/data/db
      - ./mongo-keyfile:/data/mongo-keyfile
    entrypoint:
      - bash
      - -c
      - |
          chmod 400 /data/mongo-keyfile
          chown 999:999 /data/mongo-keyfile
          exec docker-entrypoint.sh $$@
    command: ["mongod", "--replSet", "rs0", "--keyFile", "/data/mongo-keyfile"]
    depends_on:
      - mongo
    networks:
      - app

  mongo3:
    image: mongo:4.4
    container_name: mongo3
    restart: always
    ports:
      - 27019:27017
    env_file:
      - ./app/.env
    volumes:
      - ./volumes/mongo3_db:/data/db
      - ./mongo-keyfile:/data/mongo-keyfile
    entrypoint:
      - bash
      - -c
      - |
          chmod 400 /data/mongo-keyfile
          chown 999:999 /data/mongo-keyfile
          exec docker-entrypoint.sh $$@
    command: ["mongod", "--replSet", "rs0", "--keyFile", "/data/mongo-keyfile"]
    depends_on:
      - mongo
    networks:
      - app

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - 6379:6379
    volumes:
      - ./volumes/redis_db:/data
    networks:
      - app

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_SITE_PORT: 8081
      ME_CONFIG_MONGODB_URL: mongodb://root:pass@mongo:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: pass
      ME_CONFIG_MONGODB_SERVER: mongo,mongo2,mongo3
    depends_on:
      - mongo
    networks:
      - app

networks:
  app:
    driver: bridge
  traefik:
    external: true
