version: '3.7'
services:
  app:
    build: ./app
    container_name: app
    volumes:
      # more important to showing change codes by nodemon
      - "./app:/app"
      - "./volumes/uploads:/app/uploads"
      - "./volumes/app-logs:/app/app-logs"
    restart: always
    ports:
      - "8080:8080"
    #   - "3001:3001"
    depends_on:
      - mongo
      - mongo2
      - mongo3
      - redis
    env_file:
      - ./app/.env
    networks:
      - traefik-net
      - data
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-net"
      # Service for port 8080 - api
      - "traefik.http.services.${PROJECT_NAME}-8080.loadbalancer.server.port=8080"
      - "traefik.http.routers.${PROJECT_NAME}-8080.entrypoints=web"
      - "traefik.http.routers.${PROJECT_NAME}-8080.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.${PROJECT_NAME}-8080.middlewares=https-redirect"
      - "traefik.http.routers.${PROJECT_NAME}-8080.service=${PROJECT_NAME}-8080"
      - "traefik.http.routers.${PROJECT_NAME}-8080-secure.entrypoints=websecure"
      - "traefik.http.routers.${PROJECT_NAME}-8080-secure.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.${PROJECT_NAME}-8080-secure.tls=true"
      - "traefik.http.routers.${PROJECT_NAME}-8080-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.${PROJECT_NAME}-8080-secure.service=${PROJECT_NAME}-8080"
      # Service for port 3001 - ws
      - "traefik.http.services.${PROJECT_NAME}-3001.loadbalancer.server.port=3001"
      - "traefik.http.routers.${PROJECT_NAME}-3001.entrypoints=web"
      - "traefik.http.routers.${PROJECT_NAME}-3001.rule=Host(`${DOMAIN_WS}`)"
      - "traefik.http.routers.${PROJECT_NAME}-3001.middlewares=https-redirect"
      - "traefik.http.routers.${PROJECT_NAME}-3001-secure.entrypoints=websecure"
      - "traefik.http.routers.${PROJECT_NAME}-3001-secure.rule=Host(`${DOMAIN_WS}`)"
      - "traefik.http.routers.${PROJECT_NAME}-3001-secure.tls=true"
      - "traefik.http.routers.${PROJECT_NAME}-3001-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.${PROJECT_NAME}-3001.service=${PROJECT_NAME}-3001"
      - "traefik.http.routers.${PROJECT_NAME}-3001-secure.service=${PROJECT_NAME}-3001"

  # nginx:  # اضافه کردن سرویس Nginx
  #   image: nginx
  #   container_name: nginx
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/nginx.conf  # مسیر به فایل پیکربندی Nginx
  #   ports:
  #     - "80:80"
  #   depends_on:
  #     - app
  
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: pass
    ports:
      - 27017:27017
    volumes:
      - ./volumes/mongo_db:/data/db
      - ./mongo-keyfile.key:/data/mongo-keyfile.key
    entrypoint:
      - bash
      - -c
      - |
          chmod 400 /data/mongo-keyfile.key
          chown 999:999 /data/mongo-keyfile.key
          exec docker-entrypoint.sh $$@
    command: ["mongod", "--replSet", "rs0", "--keyFile", "/data/mongo-keyfile.key"]
    networks:
      - data
  mongo2:
    image: mongo
    container_name: mongo2
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: pass
    ports:
      - 27018:27017
    volumes:
      - ./volumes/mongo2_db:/data/db
      - ./mongo-keyfile.key:/data/mongo-keyfile.key
    entrypoint:
      - bash
      - -c
      - |
          chmod 400 /data/mongo-keyfile.key
          chown 999:999 /data/mongo-keyfile.key
          exec docker-entrypoint.sh $$@
    command: ["mongod", "--replSet", "rs0", "--keyFile", "/data/mongo-keyfile.key"]
    networks:
      - data
  mongo3:
    image: mongo
    container_name: mongo3
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: pass
    ports:
      - 27019:27017
    volumes:
      - ./volumes/mongo3_db:/data/db
      - ./mongo-keyfile.key:/data/mongo-keyfile.key
    entrypoint:
      - bash
      - -c
      - |
          chmod 400 /data/mongo-keyfile.key
          chown 999:999 /data/mongo-keyfile.key
          exec docker-entrypoint.sh $$@
    command: ["mongod", "--replSet", "rs0", "--keyFile", "/data/mongo-keyfile.key"]
    networks:
      - data

  
  mongo-express:
    image: mongo-express
    restart: unless-stopped
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: "27017"
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: pass
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_EXPRESS_USERNAME:-admin}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_EXPRESS_PASSWORD:-pass}
    ports:
      - "8081:8081"
    networks:
      - data
      - traefik-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${PROJECT_NAME}-mongo-express.entrypoints=web"
      - "traefik.http.routers.${PROJECT_NAME}-mongo-express.rule=Host(`mongo.${DOMAIN}`)"
      - "traefik.http.services.${PROJECT_NAME}-mongo-express.loadbalancer.server.port=8081"
      - "traefik.http.routers.${PROJECT_NAME}-mongo-express-secure.entrypoints=websecure"
      - "traefik.http.routers.${PROJECT_NAME}-mongo-express-secure.rule=Host(`mongo.${DOMAIN}`)"
      - "traefik.http.routers.${PROJECT_NAME}-mongo-express-secure.tls=true"
      - "traefik.http.routers.${PROJECT_NAME}-mongo-express-secure.tls.certresolver=letsencrypt"
      - "traefik.docker.network=traefik-net"

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - 6379:6379
    volumes:
      - ./volumes/redis_db:/data
    networks:
      - data

networks:
  traefik-net:
    external: true
  data:
