services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: app
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - ./app/.env # مسیر صحیح فایل .env
    depends_on:
      - redis
      - mongo
      - mongo2
      - mongo3
    volumes:
      - "./app:/app"
      - "./volumes/uploads:/app/uploads"
      - "./volumes/app-logs:/app/app-logs"
    networks:
      - app
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - 27017:27017
    env_file:
      - ./app/.env  
    volumes:
      - ./volumes/mongo_db:/data/db
      - ./mongo-keyfile:/data/mongo-keyfile
    entrypoint:
      - bash
      - -c
      - |
          chmod 400 /data/mongo-keyfile
          chown 999:999 /data/mongo-keyfile
          exec docker-entrypoint.sh $$@
    command: ["mongod", "--replSet", "rs0", "--keyFile", "/data/mongo-keyfile"]
    networks:
      - app    
  mongo2:
    image: mongo
    container_name: mongo2
    restart: always
    ports:
      - 27018:27017
    env_file:
      - ./app/.env  
    volumes:
      - ./volumes/mongo2_db:/data/db
      - ./mongo-keyfile:/data/mongo-keyfile
    entrypoint:
      - bash
      - -c
      - |
          chmod 400 /data/mongo-keyfile
          chown 999:999 /data/mongo-keyfile
          exec docker-entrypoint.sh $$@
    command: ["mongod", "--replSet", "rs0", "--keyFile", "/data/mongo-keyfile"]
    depends_on:
      - mongo    
    networks:
      - app    
  mongo3:
    image: mongo
    container_name: mongo3
    restart: always
    env_file:
      - ./app/.env
    ports:
      - 27019:27017
    volumes:
      - ./volumes/mongo3_db:/data/db
      - ./mongo-keyfile:/data/mongo-keyfile
    entrypoint:
      - bash
      - -c
      - |
          chmod 400 /data/mongo-keyfile
          chown 999:999 /data/mongo-keyfile
          exec docker-entrypoint.sh $$@
    command: ["mongod", "--replSet", "rs0", "--keyFile", "/data/mongo-keyfile"]
    depends_on:
      - mongo    
    networks:
      - app   
  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - 6379:6379
    volumes:
      - ./volumes/redis_db:/data
    networks:
      - app
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
    - "8081:8081"
    environment:
      ME_CONFIG_SITE_PORT: 8081
      ME_CONFIG_MONGODB_URL: mongodb://root:pass@mongo:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: pass
      ME_CONFIG_MONGODB_SERVER: mongo,mongo2,mongo3
    depends_on:
      - mongo
    networks:
      - app
    command: ["sh", "-c", "sleep 10 && npm start"]
networks:
  app:
    driver: bridge